* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100dvh;
  background-color: #fff;
  font-family: Inter, Helvetica, Arial, Lucida, sans-serif;
  line-height: 1.4em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
  color: #000;
}

/* Navigation Selectors */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px auto 20px;
  width: min(1300px, 92vw);
  border: 1px solid #cecece;
  position: sticky !important;
  top: 0;
  left: 0;
  z-index: 100;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 3px;
  padding: 8px 25px 6px 16px;
  flex-wrap: wrap;
}

nav .links-container {
  display: flex;
  list-style-type: none;
  align-items: center;
}

nav a {
  display: flex;
  font-size: 14px;
  font-weight: 500;
  align-items: center;
  line-height: 14px;
  color: #2e2e2e !important;
  gap: 2px;
  height: 100%;
}

.btn-shape {
  padding: 8px 11px !important;
  border-radius: 4px;
}

.btn-shape:hover {
  background-color: #e5e5e5;
}

nav a div:hover ~ img[alt="down-arrow"] {
  transform: rotate(180deg);
  padding-top: 2px;
}

.logo {
  height: 100%;
}

.logo img {
  max-width: 150px;
  height: auto;
}

.buttons {
  display: flex;
  list-style-type: none;
  align-items: center;
}

.btn {
  display: flex;
  align-items: center;
  gap: 4px;
}

.primary-btn {
  background-color: #ffd741;
  color: #000;
  padding: 12px 23px 10px;
  border-radius: 4px;
  font-weight: 500;
  justify-content: center;
  transition: opacity 0.7s ease;
}

.primary-btn:hover {
  opacity: 0.71;
}

.ghost-btn {
  transition: all 0.7s ease;
  padding-right: 20px;
}

.ghost-btn:hover {
  opacity: 0.71;
}

.language-change {
  padding: 14px 11px !important;
  border-radius: 4px;
}

.language-change:hover {
  background-color: #e5e5e5;
}

.test {
  width: 100%;
  height: 100%;
}

.margin-spec {
  padding: 0 12px;
}

.search-btn {
  transform: rotate(90deg) !important;
  font-weight: normal;
}

.fa {
  font-weight: 501 !important;
}
