* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100dvh;
  background-color: #fff;
  font-family: Inter, Helvetica, Arial, Lucida, sans-serif;
  line-height: 1.4em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
  color: #000;
}

.muted {
  text-transform: uppercase;
  font-size: 11px;
  color: #999;
  letter-spacing: 1px;
  font-weight: 600;
}

/* Navigation Selectors */
header {
  position: sticky !important;
  top: 0;
  left: 0;
  z-index: 100;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px auto 20px;
  width: min(1300px, 92vw);
  border: 1px solid #cecece;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 3px;
  padding: 8px 25px 6px 16px;
  flex-wrap: wrap;
}

nav .links-container {
  display: flex;
  list-style-type: none;
  align-items: center;
}

nav a {
  display: flex;
  font-size: 14px;
  font-weight: 500;
  align-items: center;
  line-height: 14px;
  color: #2e2e2e !important;
  gap: 2px;
  height: 100%;
}

.btn-shape {
  padding: 8px 11px !important;
  border-radius: 4px;
}

.btn-shape:hover {
  background-color: #e5e5e5;
}

/* nav ul .products-btn:hover ~ .dropdowns .products {
  display: flex;
} */

nav:has(.products-btn:hover) + .dropdowns .products {
  display: flex;
}

nav li:hover > a img[alt="down-arrow"] {
  transform: rotate(180deg);
  padding-top: 2px;
}

nav li a div {
  transition: all 0.7s ease;
}

nav li a div:hover {
  opacity: 0.71;
}

.logo {
  height: 100%;
}

.logo img {
  max-width: 150px;
  height: auto;
}

.buttons {
  display: flex;
  list-style-type: none;
  align-items: center;
}

.btn {
  display: flex;
  align-items: center;
  gap: 4px;
}

.primary-btn {
  background-color: #ffd741;
  color: #000;
  padding: 12px 23px 10px;
  border-radius: 4px;
  font-weight: 500;
  justify-content: center;
  transition: opacity 0.7s ease;
}

.primary-btn:hover {
  opacity: 0.71;
}

.ghost-btn {
  transition: all 0.7s ease;
  padding-right: 20px;
}

.ghost-btn:hover {
  opacity: 0.71;
}

.language-change {
  padding: 14px 11px !important;
  border-radius: 4px;
}

.language-change:hover {
  background-color: #e5e5e5;
}

.margin-spec {
  padding: 0 12px;
}

.search-btn {
  transform: rotate(90deg) !important;
  font-weight: normal;
}

.fa {
  font-weight: 501 !important;
}

.dropdowns {
  display: flex;
  position: absolute;
  top: 79px;
  left: 28vw;
}

.products {
  background-color: #f6f6f6;
  padding: 3px 13px !important;
  border-radius: 8px;
  border: 1px solid #e5e5e5;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.08) !important;
  display: none;
  flex-direction: column;
}

.products ul {
  list-style: none;
  padding-bottom: 10px;
}

.products ul li {
  padding: 6px 20px 3px 0;
}

.products ul li a {
  line-height: 28px;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}

.products ul:first-child {
  border-bottom: 2px solid #e5e5e5;
}

.products ul:last-child {
  margin-top: 10px;
}
